.mentioned-Tre-dv
{
    background-color: rgba(var(--hv-mention-colour-rgb), 0.1) !important;
}

.mentioned-Tre-dv:hover
{
    background-color: rgba(var(--hv-mention-colour-rgb), 0.08) !important;
}

div[class*="mentioned"]::before 
{
    width: 4px;
    background-color: var(--hv-mention-colour);
}
  
div[class*="mentioned"] 
{
    border-radius: 0px 20px 20px 0px;
}
