:root
{
    --background-accent: #6e85d3;
}

.theme-dark
{
    --background-modifier-selected: var(--bg4);
    --background-message-hover: var(--bg2);
    --background-modifier-hover: var(--bg2);
    --background-modifier-active: var(--bg4);
    --background-floating: var(--bg3);
    --elevation-low: none;
    --scrollbar-auto-thumb: var(--bg4);
    --scrollbar-auto-track: var(--bg1);
    --scrollbar-thin-thumb: var(--bg4);
    --activity-card-background: var(--bg3);
    --background-tertiary: var(--bg4);
    --background-secondary: var(--bg3);
    --background-secondary-alt: var(--bg3);
    --background-primary: var(--bg1);
    --channeltextarea-background: var(--bg3);
}

.peopleColumn-1wMU14 
{
    background: var(--background-primary);
}
