/**
* @name Roundrect
* @author KawaiiZenbo#8387
* @description starring your favorite shape
* @version 1.3.1
*/

/* revertrebrand stuff */
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/variables.css");
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/hardcoded.css");
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/components/mentions.css");
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/components/reactions.css");
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/components/folders.css");
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/general/inputs.css");
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/general/svgs.css");
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/general/other.css");

:root {
  /* colour presets (only works in dark mode) */
  /* if you want to use a different theme uncomment it and recomment the rest

    /* dark blue mode (default) */
  --bg1: rgb(24, 28, 37);
  --bg2: rgb(22, 26, 35);
  --bg3: rgb(20, 24, 33);
  --bg4: rgb(18, 22, 31);

  /* dark green mode */
  /*
    --bg1: rgb(24, 37, 28);
    --bg2: rgb(22, 35, 26);
    --bg3: rgb(20, 33, 24);
    --bg4: rgb(18, 31, 22);
    */

  /* brown mode */
  /*
    --bg1: rgb(37, 28, 24);
    --bg2: rgb(35, 26, 22);
    --bg3: rgb(33, 24, 20);
    --bg4: rgb(31, 22, 18);
    */

  /* dark red mode */
  /*
    --bg1: rgb(37, 0, 0);
    --bg2: rgb(35, 0, 0);
    --bg3: rgb(33, 0, 0);
    --bg4: rgb(31, 0, 0);
    */

  /* teal mode */
  /*
    --bg1: rgb(0, 24, 32);
    --bg2: rgb(0, 22, 30);
    --bg3: rgb(0, 20, 28);
    --bg4: rgb(0, 18, 26);
    */

  /* darker mode */
  /*
    --bg1: rgb(37, 37, 37);
    --bg2: rgb(35, 35, 35);
    --bg3: rgb(33, 33, 35);
    --bg4: rgb(31, 31, 31);
    */

  /* even darker mode */
  /*
    --bg1: rgb(24, 24, 24);
    --bg2: rgb(22, 22, 22);
    --bg3: rgb(20, 20, 20);
    --bg4: rgb(18, 18, 18);
    */


  /* please dont change this stuff */

  --avatar-shape: 20%;
  
  --background-tertiary: var(--bg4);
  --background-secondary: var(--bg3);
  --background-secondary-alt: var(--bg3);
  --background-primary: var(--bg1);
  --channeltextarea-background: var(--bg3);
  --background-accent: #6e85d3;
  --background-message-hover: var(--bg2);
  --background-modifier-hover: var(--bg2);
  --background-modifier-active: var(--bg4);
  --background-floating: var(--bg3);
  --elevation-low: none;
  --scrollbar-auto-thumb: var(--bg4);
  --scrollbar-auto-track: var(--bg1);
  --scrollbar-thin-thumb: var(--bg4);
  --activity-card-background: var(--bg3);

  --background-mentioned: hsla(-180,calc(var(--saturation-factor, 1)*95.7%),34.1%,0.1);
  --background-mentioned-hover: hsla(-180,calc(var(--saturation-factor, 1)*95.7%),34.1%,0.08);
}

.theme-dark
{
  --background-modifier-selected: var(--bg4);
}


.theme-light {
  --text-normal: #101010;
  --channels-default: #303030;
  --text-muted: #404040;
  --interactive-muted: #999999;

  --bg1: #FFFFFF;
  --bg2: #F7F7F7;
  --bg3: #F0F0F0;
  --bg4: #E0E0E0;
}

.theme-light .embedFull-1HGV2S
{
  background-color: var(--bg4);
}

div[class*="mentioned"]::before {
  width: 4px;
  background-color: hsl(-180,calc(var(--saturation-factor, 1)*95.7%),24.1%);
}

div[class*="mentioned"] {
  border-radius: 0px 20px 20px 0px;
}

.peopleColumn-1wMU14 {
  background: var(--background-primary);
}

.contentRegion-3HkfJJ {
  flex: 1 1 100%;
}

.contentColumn-1C7as6,
.customColumn-2n-oKU,
.sidebarScrollable-2mW9Ls+.content-2ssVKB,
.customScroller-m1-jZn>div {
  max-width: 95%;
}

.sidebar-nqHbhN {
  padding: 60px 0 35px 50px;
  width: 260px;
}

.sidebar-nqHbhN>div>.item-3XjbnG,
#bd-settings-sidebar .ui-tab-bar-item {
  padding: 8px 0 8px 10px;
  margin-bottom: 0;
  border-radius: 5px 0 0 5px;
}

.role-2TIOKu {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: solid;
  border-width: 0px 0px 0px 2px;
  border-radius: 0px 12px 12px 0px;
}

.roleCircle-1EgnFN {
  width: 5 !important;
  height: 5 !important;
}

.roleCircle-1EgnFN::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.3;
  z-index: -1;
}

.content-1gYQeQ {
  background-color: var(--bg4);
  border-style: solid;
  border-color: #666666;
  border-width: 0px 0px 0px 4px;
  border-radius: 0px 25px 25px 0px;
}

.unread-36eUEm {
  z-index: 1;
  position: absolute;
  height: 32px;
  width: 4px;
  border-radius: 0 0 0 0;
  top: 1px;
  left: 8px;
  margin-top: 0px;
}

.scrollableContainer-15eg7h {
  border: solid;
  border-color: var(--bg4);
  border-width: 0px 0px 0px 4px;
  border-radius: 0px 25px 25px 0px;
}

.iconWrapper-2awDjA {
  order: -1;
}

div.iconWrapper-2awDjA.clickable-ZD7xvu[aria-label="Help"],
.wordmarkWindows-2dq6rw,
div[id="user-context-invite-to-server"],
div[id="user-context-call"],
.guildIconContainer-2FW_iA {
  display: none !important;
}

.winButtonClose-3Q8ZH5 {
  height: 20px;
  width: 20px;
  border-radius: 15%;
  right: 1px;
  top: -3px;
}

.winButtonMinMax-3RsPUg:nth-child(3) {
  height: 20px;
  width: 20px;
  border-radius: 15%;
  right: 3px;
  top: -3px;
}

.winButtonMinMax-3RsPUg:nth-child(4) {
  height: 20px;
  width: 20px;
  border-radius: 15%;
  right: 5px;
  top: -3px;
}

.searchBar-zdmu7v {
  width: 240px;
}

.platform-win .sidebar-1tnWFu {
  border-radius: 0 0 0 0;
}

/* shamelessly stolen from serenade https://github.com/b4skyx/discord-serenade */
[class^="lowerBadge-"]>[class^="numberBadge"] {
  border-radius: var(--avatar-shape);
}

:root .wrapper-1VLyxH foreignObject,
:root .callAvatarMask-fiNMWy foreignObject,
:root .avatarContainer-gPrCzX foreignObject,
:root .avatarMasked-qX7NI7 {
  mask: none;
  -webkit-mask: none;
}

:root .wrapper-1VLyxH,
:root .avatar-2e8lTP,
:root .profile-1o7I_1 .avatarUploaderInner-yEhTv5,
:root .voiceAvatar-lRbblo,
:root .avatar-3FKimL,
:root .border-2BJQjd,
:root .avatar-3TrM7c,
:root .clickableAvatar-igrb2Y,
:root .emptyUser-2FDCJv,
:root .avatar-b5OQ1N,
:root .wrapper-3mYmFS.ringingIncoming-fibTw-::after,
:root .wrapper-3mYmFS.ringingOutgoing-1NjfRn::after,
:root .replyAvatar-sHd2sU,
:root .avatarSpeaking-33RRJU,
:root .avatar-2EVtgZ,
:root .avatarContainer-3tBLDx,
:root .appAvatar-2_lufo {
  border-radius: var(--avatar-shape);
}

:root .wrapper-28eC3z foreignObject {
  mask: none;
  -webkit-mask: none;
}

:root .wrapperSimple-Js2rIO {
  overflow: visible;
}

:root .wrapperSimple-Js2rIO,
:root .wrapper-28eC3z foreignObject,
:root .folderIconWrapper-226oVY,
:root .folderIconWrapper-1_bOZe,
:root .expandedFolderBackground-2sPsd-,
:root .flexChild-3PzYmX .avatarUploaderInner-yEhTv5 {
  border-radius: var(--avatar-shape);
}

:root .iconInactive-26M06U {
  border-radius: var(--avatar-shape);
}

:root .wrapper-28eC3z foreignObject:hover foreignObject {
  border-radius: var(--avatar-shape);
}

.avatarHint-k7pYop foreignObject:not(.avatarHintInner-2HUAWj) {
  mask: unset !important;
}

/* end of skid */

.svg-2azL_l rect {
  mask: none;
  stroke-width: 2px;
  stroke: var(--bg3);
}

.embedFull-1HGV2S {
  border-radius: 0px 20px 20px 0px;
}

.imageWrapper-oMkQl4 {
  border-radius: 0;
}
