/* modules */
@import "./modules/main.scss";
@import "./modules/tweaks.scss";
@import "./modules/roundavatar.scss";
@import "./modules/hi-color.scss";

:root {
  /* colours (only works in dark mode) */
  --bg1: rgb(24, 28, 37);
  --bg2: rgb(22, 26, 35);
  --bg3: rgb(20, 24, 33);
  --bg4: rgb(18, 22, 31);

  --avatar-shape: 20%;
  
  /* hi-color settings */
  --hv-mention-colour: #037878;
  --hv-mention-colour-rgb: 3, 120, 120;
}
